* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    min-height: 98vh;
    flex-direction: column;
    
  }
  
  .fifteen {
    width: 400px;
    height: 400px;
    background: rgba(118, 92, 72, 0.5);
    border: 5px solid rgba(101, 67, 33, 0.5);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
    align-content: center;
    
  }
  
  .fifteen div{
    width: 90px;
    height: 90px;
    border: 1px solid black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #FFFDD0;
    border: 3px solid grey;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.4s;
    
  }
  
  .fifteen p {
    width: 80%;
    height: 80%;
    font-size: 26px;
    font-weight: 600;
    border-radius: 50%;
    background: rgb(255, 255, 203);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px 3px rgb(222, 208, 159) inset;
    user-select: none;
  }
  
  .hidden {
    opacity: 0;
    
  }
  .score {
    margin-bottom: 10px;
    color: black;
    font-size: 26px;
}

  .score span {
      color: rgba(101, 67, 33, 0.5);
      font-size: 24px;
  }

  .alert {
      color: red;
      font-size: 32px;
      margin-bottom: 10px;
  }